body {
  background-color: white;
}
table.dataTable thead {
  background: #0050a0;
  color: white;
}

.caja {
  /* border: 1px solid; */
  padding: 5px;
  border-radius: 10px;
}

.table_modal{
  display: flex;
  justify-content: center;
  text-align: center;
}
.content_button{

    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    position: relative;
    width: 150px;

    height: inherit;
    width: inherit;

  
  
}
.hide_column{


  display: none;
}


button:after {
  background-color: rgba(0, 0, 0, .8);
  border-radius: 5px;
  color: #fff;
  content: attr(title);
  opacity: 0;
  padding: 10px 12px;
  position: absolute;
  left: 100%;
  top: 40px;
  transition: all .25s ease;
  visibility: hidden;
  white-space: nowrap;
}






button:hover:after {
  opacity: 1;
  visibility: visible;
}
