body {
  background-color: white;
}
table.dataTable thead {
  background: #0050a0;
  color: white;
}

.caja {
  /* border: 1px solid; */
  padding: 5px;
  border-radius: 10px;
}

.table_modal{
  display: flex;
  justify-content: center;
  text-align: center;
}
.content_button{

    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    position: relative;
    width: 150px;

    height: inherit;
    width: inherit;

  
  
}
.hide_column{


  display: none;
}


.margin-boton
{
  margin-right: 7px;
}

.ancho
{
margin-left: auto;}