body {
  background-color: white;
}
table.dataTable thead {
  background: #0050a0;
  color: white;
}

.caja {
  /* border: 1px solid; */
  padding: 5px;
  border-radius: 10px;
}

.table_modal{
  display: flex;
  justify-content: center;
  text-align: center;
}
.content_button{

    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    position: relative;
    width: 150px;

    height: inherit;
    width: inherit;

  
  
}
button:after {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 5px;
  color: #fff;
  content: attr(title);
  opacity: 0;
  padding: 6px 12px;
  position: absolute;
  left: 110%;
  top: 30px;
  transition: all .25s ease;
  visibility: hidden;
  white-space: nowrap;
}
button[tooltip-dir="left"]:after {
  left: auto;
  right: 110%;
}

button[tooltip-dir="bottom"]:after,
button[tooltip-dir="top"]:after {
  left: 50%;
    right: auto;

  transform: translateX(-50%);
}

button[tooltip-dir="bottom"]:after {
  bottom: auto;
  top: 110%;
}

button[tooltip-dir="top"]:after {
  bottom: 110%;
  top: auto;
}

button:hover:after {
  opacity: 1;
  visibility: visible;
}
